<!DOCTYPE html>
<html>
<head>
	<title>AT Simple Demo</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet">
</head>
<body>

<table class="table">
	<thead>
		<tr>
			<th>Patient</th>
			<th>Mobile Number</th>
			<th>Last Date Picked</th>
			<th>Next Pick Date</th>
			<th>Week's Reminder</th>
			<th>2 Day Reminder</th>
			<th>1 Day Late Reminder</th>
		</tr>
	</thead>
	<tbody>
	{% if sms_list %}
		{% for drug_receiver in sms_list %}
		<tr>
			<td>{{ drug_receiver.patient_first_name }} {{ drug_receiver.patient_last_name }}</td>
			<td>{{ drug_receiver.mobile_number }}</td>
			<td>{{ drug_receiver.last_date_picked }}</td>
			<td>{{ drug_receiver.next_pick_date }}</td>

			{% if drug_receiver.weeks_reminder == 1 %}
				<td>Yes</td>

			{% else %}
				<td>No</td>

			{% endif %}



			{% if drug_receiver.two_day_reminder == 1 %}
				<td>Yes</td>

			{% else %}
				<td>No</td>
				
			{% endif %}



			{% if drug_receiver.one_day_later_reminder == 1 %}
				<td>Yes</td>

			{% else %}
				<td>No</td>
				
			{% endif %}
		</tr>
		{% endfor %}

	{% endif %}
	</tbody>
</table>

<div class="alert alert-info">
{% if message_count > 1 %}

		{{ message_count }} SMS's have been sent

	{% elif message_count == 1 %}

		{{ message_count }} SMS has been sent

	{% else %}

		No SMS's have been sent

	{% endif %}
</div>

<!-- <form action="/send-sms" method="POST">
	{% csrf_token%}
	<div class="form-group">
		<input type="text" value="" name="phone" class="form-control">
		<button type="submit" class="btn btn-primary">Send SMS</button>
	</div>
</form> -->

<script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>

<script>
	
</script>
</body>
</html>